body,html{
    font-family: 'Open-Sans-regular';
    color:#535353;
    font-size: 24px;
    line-height: 1.8em;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 34px;
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #fff;
}

.navbar{
    font-family: 'Open-Sans-600';
    background: white;
    border:0;
}

.navbar-brand {
    float: left;
    font-size: 30px;
}

.navbar-right{
    text-transform: uppercase;
    font-size: 18px;
}

.navbar-header .navbar-brand, .navbar-header .navbar-brand:hover,
 .navbar.navbar-default .navbar-nav>li>a{
    color:#115788;
    font-weight: 400;
}

.navbar .navbar-nav>li:hover, .navbar .navbar-nav>li:hover a{
    background-color: #115788; 
    color: white; 
}

.block .container h2{
    font-family: 'Open-Sans-600';
    margin-bottom: 20px;
}

.text-blue{
    color:#115788;
} 

.text-light{
    font-family: "Open-Sans-light";
}

.text-regular{
    font-family: "Open-Sans-regular";
}

.margin-0{
    margin: 0;
}

.padding-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-t50{
    padding-top: 50px;      
}

@media (min-width: 768px){
    .navbar .collapse.navbar-right ul li{
        padding-bottom: 17px;
        padding-top: 17px;
    }
    /*Hover line only on big screen*/
    .navbar .navbar-nav>li>a:hover::after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .navbar .navbar-nav>li>a::after{
        content: "";
        position: absolute;
        left:15%;
        right:15%;
        height: 2px;
        bottom: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
}  

/*Fix Bootstrap navbar collapse*/
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-brand {
        padding: 8px 15px;
    }
}

@media (min-width: 1000px){
    .navbar-header{
        padding-top: 10px;
    }
}

@media (min-width: 992px){
    .embed-video{
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}  

@media (max-width: 991px){
    #block3 .clear-both{
        clear: both;
    }
}    


#splash-block {
    margin-top: 84px;
    height: 600px;
    background-image: url(../img/splash1.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    z-index: -1;
    text-transform: uppercase;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-phone{
    margin-top: 138px;
}

.separator .separator-content {
  width: 100%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:600;
  font-size: 38px;
  color: #115788;
}
.separator .separator-content:before, 
.separator .separator-content:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.separator .separator-content:after {
  margin: 0 -55% 0 .5em;
}

.block{
    margin-bottom: 70px;
}

#block2{
    background-image: url(../img/splash2.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    z-index: -1;
}

#block2 .col-md-6{
    margin: 60px 0px 60px 0px;
}

.embed-video{
    border: 20px solid #d0d0d0;
}

.img-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.img-class {
    max-width: 100%;
    max-height: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition-duration: 0.3s;
}

.img-class:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#block4{
    background-color: #115788;
    color: #fff;
    line-height: 1.42857143;
    font-size: 23px;
    padding: 30px 0px 30px 0px;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-list li {
    display: inline-block;
}

.social-list li a:hover, .social-list li a:focus, .social-list li a.active {
    color: #fff;
    background-color: #115788;
    border: 2px solid #fff;
}

.social-list li a {
    width: 60px;
    height: 60px;
    color: #115788;
    background-color: #fff;
    border: 2px solid #fff;
    list-style: none;
    margin-right: 5px;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;
}

#map{
    margin: 0 auto;
}

footer{
    font-size: 14px;
    margin: 20px 0px 20px 0px;
}