body,html{
    font-family: 'Open-Sans-regular';
    color:white;
    font-size: 16px;
    line-height: 1.8em;
}

.navbar{
    font-family: 'Open-Sans-600';
    background: white;
    border:0;
    font-size: 16px;
}

.navbar-brand {
    float: left;
    font-size: 30px;
}

.navbar-right{
    text-transform: uppercase;
    font-size: 18px;
}

.navbar.navbar-default .navbar-nav>li>a{
    color:#115788;
    font-weight: 400;
}

.navbar .navbar-nav>li:hover, .navbar .navbar-nav>li:hover a{
    background-color: #115788; 
    color: white; 
}

.text-blue{
    color:#115788;
} 

@media (min-width: 768px){
    .navbar .collapse.navbar-right ul li{
        padding-bottom: 17px;
        padding-top: 17px;
    }
    /*Hover line only on big screen*/
    .navbar .navbar-nav>li>a:hover::after{
         content:"";
         position:absolute;
         left:25%;
         right:25%;
         bottom:0;
         border:1px solid white
        }
}  

/*Fix Bootstrap navbar collapse*/
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-brand {
        padding: 8px 15px;
    }
}

@media (min-width: 1000px){
    .navbar-header{
        padding-top: 10px;
    }
}
